@using System.Threading.Tasks
@using EasySurvey.Web.ViewModels.Survey
@model CreateSurveyViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Survey</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        @Html.HiddenFor(m => m.Id)
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="col-md-10 left">
            <label asp-for="CustomerId" class="col-md-2 col-md-offset-0 control-label">Customer</label>
            @{
                var customers = new SelectList(Model.Customers, "Id", "Name");
            }
            <select asp-for="CustomerId" asp-items="customers" class="form-control col-md-1 col-md-offset-0"></select>
            <span asp-validation-for="CustomerId" class="text-danger"></span>
            @*TODO add ajax support*@
            <a asp-action="Create" asp-controller="Customers" target="_blank" class=" col-md-2 col-md-offset-0 ">Create new Customer</a>
            @*   <a href="@Url.RouteUrl("CoreApi", new { area = "Core", controller = "PostalAddress", action = actionName, id = Model })" class="hidden" data-ajax="true" data-ajax-mode="replace" data-ajax-failure="showError" data-ajax-update="#post_addr_form" id="pa_load_form"></a>*@

        </div>
        <div class="col-md-10 left">
            <label class="col-md-2 col-md-offset-0 control-label">SectionGroups</label>
        </div>
        @{
            @Html.EditorFor(m => Model.SectionGroups)
        }

         <br/>
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <br/>
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}