@using System.Threading.Tasks
@using EasySurvey.Web.ViewModels.Survey
@model EditSurveyViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create Survey</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        @Html.HiddenFor(m => m.Id)
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>

        <div class="col-md-10 left">
            <label asp-for="Customer" class="col-md-2 col-md-offset-0 control-label">Customer</label>
            @{
                await Html.RenderPartialAsync("~/views/Customers/_ViewCustomer.cshtml", Model.Customer, ViewData);
            }

        </div>
        <div class="col-md-10 left">
            <label class="col-md-2 col-md-offset-0 control-label">AnswerGroups</label>
        </div>
        @{
            @Html.EditorFor(m => Model.AnswerGroups)
        }

        <br />
        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <br />
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}