@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupsViewModel
<form id="answergroup-form" asp-controller="AnswerGroups" asp-action="Edit" method="post" asp-anti-forgery="true">
    <input type="hidden" asp-for="SectionGroupId" />
    <input type="hidden" asp-for="SurveyId" />
    var mainModel = Model.AnswerGroupViewModel.First();
    if (mainModel != null && mainModel.IsUsed)
    {
        <div id="justified-button-bar" class="col-lg-12">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <button id="btnValidate" name="command" title="Validate the current answer group" type="submit" class="btn btn-default" value="Validate">
                        <span class="glyphicon glyphicon-check"></span>&nbsp; Validate
                    </button>
                </div>
                <div class="btn-group">
                    <button id="btnSave" name="command" title="Save the current answer group" type="submit" class="btn btn-default" value="Save">
                        <span class="glyphicon glyphicon-floppy-disk"></span>&nbsp; Save
                    </button>
                </div>
                <div class="btn-group">
                    <button id="button-map" name="command" title="Add set of repeative sections to answer group" type="submit" class="btn btn-default" value="Extend">
                        <span class="glyphicon glyphicon-plus"></span>&nbsp; Extend
                    </button>
                </div>
                <div class="btn-group">
                    <button id="btnComment" title="Enter and edit comments" type="button" class="btn btn-default" data-toggle="modal" data-target="#commentModel">
                        <span class="glyphicon glyphicon-eye-open"></span>&nbsp; Comments
                    </button>
                </div>
            </div>
        </div>
        <br />
        <br />
        var sortedModel = Model.OrderBy(s => s.SortOrder);
        @for (int i = 0; i < sortedModel.Count(); i++)
        {
            var answerGroup = sortedModel.ElementAt(i);
            @Html.EditorFor(m => answerGroup)
        }
    }
</form>
<div class="modal fade" id="commentModel" tabindex="-1" role="dialog" aria-labelledby="commentModelLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="commentModelLabel">Add Comment</h4>
            </div>
            <div class="modal-body">
                <div class="col-sm-offset-1">
                    <div class="form-group">
                        <label id="optionName" class="control-label">Comment*</label>
                        <textarea type="text" id="commentText" rows="6" class="form-control input-lg col-xs-6" style="min-width: 90%" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a id="submit1" name="submit1" href="#" class="btn btn-primary">Add</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script src="~/js/Comments/CommentsAjaxModule.js" asp-append-version="true"></script>

<script type="text/javascript">
    $(document)
        .ready(function () {
            $('a[name="submit1"]')
                .click(function (event) {
                    var name = $('#commentText').val();
                    var surveyId = $('input#SurveyId').val();
                    CommentsAjax.addComment(name, surveyId);
                    $('#commentModel').modal('toggle');
                });
        });
</script>