@model EasySurvey.Common.Models.OptionGroup

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <form asp-action="Create">
        <div class="form-horizontal">
            <h4>AnswerGroup</h4>
            <hr />            
            @Html.DisplayNameFor(m=>m.Name)
            @Html.DisplayTextFor(m=>m.Name)
            <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</body>
</html>
