body {
  padding-bottom: 20px;
  padding-top: 50px; }

.body-content {
  padding-left: 15px;
  padding-right: 15px; }

input {
  max-width: 280px; }

select {
  max-width: 280px; }

textarea {
  max-width: 280px; }

.carousel-caption {
  z-index: 10 !important; }
  .carousel-caption p {
    font-size: 20px;
    line-height: 1.4; }

@media (min-width: 768px) {
  .carousel-caption {
    z-index: 10 !important; } }

p {
  margin: 0; }

footer {
  display: block;
  bottom: 0;
  position: fixed;
  height: 30px;
  width: 100%; }

.panel-group {
  float: left;
  width: 100%; }

.section_description {
  float: left;
  width: 100%; }

.label_description {
  float: left;
  margin-right: 10px;
  margin-left: 25px; }

.title_bar_section_group {
  background: #2980b9;
  height: 30px;
  padding-left: 10px;
  color: White; }
  .title_bar_section_group a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey; }
  .title_bar_section_group a.collapsed:after {
    content: "\e080"; }

.title_bar_section {
  background: #16a085;
  height: 30px;
  padding-left: 10px;
  color: White; }
  .title_bar_section a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey; }
  .title_bar_section a.collapsed:after {
    content: "\e080"; }

.title_bar_question {
  background: #8e44ad;
  height: 30px;
  padding-left: 10px;
  color: White; }
  .title_bar_question a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: right;
    color: grey; }
  .title_bar_question a.collapsed:after {
    content: "\e080"; }

.button {
  border: solid 1px;
  cursor: pointer;
  float: right;
  height: 23px;
  width: 25px; }

.red {
  color: red;
  float: left;
  font-size: 24px;
  line-height: 1; }

.left {
  width: 90%;
  float: left; }

.leftLabel {
  padding-top: 7px;
  margin-bottom: 0;
  text-align: left; }

.floatleft {
  float: left; }

.row {
  margin-left: 25px;
  margin-right: 0;
  padding-left: 0; }

