@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupsViewModel
@{
    <input type="hidden" asp-for="SurveyId" />
    <input type="hidden" asp-for="SectionGroupId" />
    <label id="optionName" class="control-label">Comment*</label> @Model.AnswerGroupViewModel.Count();     
    @Html.EditorFor(model => Model);
}

