@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupViewModel



<div class="form-horizontal">
    <div id="partialViewAnswerGroup_@(Model.Id)" class="partial"></div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
<script src="~/js/AnswerGroups/AnswerGroupsAjaxModule.js" asp-append-version="true"></script>
