@model EasySurvey.Web.ViewModels.AnswerGroups.AnswerGroupViewModel


<div class="form-inline" role="form">
    <br />
    <div class="form-group row">
        <div class="col-md-12 col-sm-offset-6">
            @{
                if (!Model.IsMandatory)
                {
                    <div class="checkbox">
                        <div class="checkbox">
                            <input asp-for="@Model.IsUsed" />
                            <label asp-for="@Model.IsUsed"></label>
                        </div>
                    </div>
                }
            }
            <br />
        </div>
    </div>
</div>
<br />
<br />
<div class="form-horizontal">
    <div id="partialViewAnswerGroup_@(Model.Id)" class="partial"></div>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<script src="~/js/AnswerGroups/AnswerGroupsAjaxModule.js" asp-append-version="true"></script>
<script type="text/javascript">
    $(document)
        .ready(function () {
            $('input#IsUsed').change(function (e) {
                var answerGroupId = $('input#Id').val();
                var sectionGroupId = $('input#SectionGroupId').val();
                var surveyId = $('input#SurveyId').val();
                var isUsed;
                var id = $('.nav-tabs .active').children().first().attr("name")
                if ($('input#IsUsed').is(':checked')) {
                    $('input#IsUsed').addClass('checked');
                    isUsed = true;
                    AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);
                } else {
                    if (confirm('This will delete all the data currently saved. Are you sure you want unuse this section?')) {
                        $('input#IsUsed').removeClass('checked');
                        isUsed = false;
                        AnswerGroupAjax.useAnswerGroup(isUsed, answerGroupId, sectionGroupId, surveyId);
                    }
                }
            });

            //$("#btnAdd").click(function () {
            //    var answerGroupId = $('input#Id').val();
            //    var sectionGroupId = $('input#SectionGroupId').val();
            //    var surveyId = $('input#SurveyId').val();
            //    AnswerGroupAjax.extendAnswerGroup(answerGroupId, sectionGroupId, surveyId);
            //});
        });
</script>
